<VirtualHost *:80>
 ServerName wordpress.{{hostname}}.{{domain_name}}
 DocumentRoot /var/www/html/wordpress.{{hostname}}
 # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
 LogLevel debug
 
 ForensicLog /var/log/httpd/wordpress-forensic.log
 ErrorLog /var/log/httpd/wordpress-error.log
 CustomLog /var/log/httpd/wordpress-access.log combined
</VirtualHost>

