<VirtualHost *:80>
 ServerName wordpress.c31348.sa.cs.ut.ee
 DocumentRoot /var/www/html/wordpress.c31348
 # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
 LogLevel debug
 ForensicLog /var/log/httpd/wordpress-forensic.log

 ErrorLog /var/log/httpd/wordpress-error.log
 CustomLog /var/log/httpd/wordpress-access.log combined
</VirtualHost>

<VirtualHost *:443>
 ServerName wordpress.c31348.sa.cs.ut.ee
 DocumentRoot /var/www/html/wordpress.c31348
 # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
 LogLevel debug
 ForensicLog /var/log/httpd/wordpress-forensic.log

 ErrorLog /var/log/httpd/wordpress-error.log
 CustomLog /var/log/httpd/wordpress-access.log combined
 SSLEngine on
 SSLCertificateFile /etc/pki/tls/certs/www_server.crt
 SSLCertificateKeyFile /etc/pki/tls/private/www_server.key
 SSLCACertificateFile /etc/pki/tls/certs/cacert.crt
</VirtualHost>

