;Zone file for c31348.sa.cs.ut.ee
$TTL    15M
@       IN      SOA ns1.c31348.sa.cs.ut.ee root.c31348.sa.cs.ut.ee (
2012020202      ;Serial
        15M     ;Refresh
        5M      ;Retry
        120M    ;Expire
        600 )   ;Negative Cache TTL)
@       IN      NS ns1
@       IN      A 172.17.89.120
ns1     IN      A 172.17.89.120
c31348  IN      A 172.17.89.120
120     IN      PTR c31348.sa.cs.ut.ee.
