<!DOCTYPE html>
<html>
    <head>
   
    </head>
    <body>
        <header>
            <h1>First page</h1>
            <!--- Rajouter une bannière de couleur pour le header, consigne -->
            <!--Menu -->
            <p>My machine full host name: c31348.sa.cs.ut.ee</p>
	    <p>My web page can be found in www.c31348.sa.cs.ut.ee</p>
        
    </body>
</html>
