<!DOCTYPE html>
<html>
    <head>
   
    </head>
    <body>
        <header>
            <h1>First page</h1>
            <!--- Rajouter une bannière de couleur pour le header, consigne -->
            <!--Menu -->
            <p>My machine full host name: {{hostname}}.{{domain_name}}</p>
	    <p>My web page can be found in www.{{hostname}}.{{domain_name}} and {{ip_address}}</p>
        
    </body>
</html>
